.toggle-like-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 10%;
    margin-left: auto; /* Align the button to the right side */
    padding: 5px 10px;
    border: none;
    background-color: #e0e0e0;
    color: #333;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #ccc;
    }
  
    &.active {
      background-color: #ff5b5b;
      color: #fff;
  
      &:hover {
        background-color: #ff2b2b;
      }
    }
  }
  
//   .like-icon {
//     // Add styles for the like icon (e.g., using font icons or custom SVG)
//     // For example:
//     // background-image: url("path/to/like-icon.png");
//     // background-size: 16px 16px;
//     // background-repeat: no-repeat;
//   }